page-sign-up {

     
        .bg_content{
    
           
            background-image: url("../assets/imgs/bg.jpg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
    
        }
    
        .input1{
    
            background: rgba(255, 255, 255, 0.4);
            border-radius:50px;
            color: black;
             }


             .nav{

                text-align: center;
                color:whitesmoke;
             }
             #button1{

                color:black;
    
            }
            .icon {

                font-size:50px;
               



            }
    
    
    
    
    
}
